<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="bookDao" class="website.hanson.spring.b_di.BookDaoImpl"/>

    <!--
        <property> 用于进行属性注入
			name： bean的属性名，通过setter方法获得
				        setBookDao ##> BookDao  ##> bookDao
			ref ：另一个bean的id值的引用
    -->
    <bean id="bookService" class="website.hanson.spring.b_di.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>

</beans>